openapi: 3.0.3
info:
  title: NetApp BlueXP / Console SaaS API
  version: 1.0.0-derived
  description: 'Derived OpenAPI 3.0.3 specification for NetApp''s BlueXP / Console
    SaaS API.


    **This spec is unofficial.** It is generated from the AsciiDoc sources published
    at https://github.com/NetAppDocs/console-automation. NetApp does not publish a
    machine-readable spec for this API surface.


    Included service folders: tenancy, tenancyv4.


    Service folders containing prose tutorials with curl examples (e.g. ``cm/``) are
    intentionally excluded; they require a different parser and would need to be added
    separately.'
  x-included-source-folders:
  - tenancy
  - tenancyv4
  x-source-repository: https://github.com/NetAppDocs/console-automation
  x-source-commit: 6227eade9a7a1cb55e2b7b8adcd1aa7667a289e2
servers:
- url: https://api.bluexp.netapp.com
  description: BlueXP / NetApp Console SaaS API (current)
- url: https://cloudmanager.cloud.netapp.com
  description: BlueXP / NetApp Console SaaS API (legacy hostname)
paths:
  /tenancy/account/{accountId}:
    delete:
      operationId: tenancy_delete_tenancy_account_by_accountId
      summary: Delete an account
      tags:
      - tenancy
      x-source-file: tenancy/delete-tenancy-account-id.adoc
      description: Deletes the specified account.
      parameters:
      - name: accountId
        in: path
        schema:
          type: string
        required: true
      - name: X-User-Token
        in: header
        schema:
          type: string
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Default response
      security:
      - BearerAuth: []
      x-token-type: user
      servers: &id001
      - url: https://api.bluexp.netapp.com
        description: BlueXP IAM v3 (tenancy)
    get:
      operationId: tenancy_get_tenancy_account_by_accountId
      summary: Retrieve an account
      tags:
      - tenancy
      x-source-file: tenancy/get-tenancy-account-id.adoc
      description: Retrieves a specific account by an account identifier.
      parameters:
      - name: accountId
        in: path
        schema:
          type: string
        required: true
      - name: X-User-Token
        in: header
        schema:
          type: string
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Default response
          content:
            application/json:
              schema:
                type: object
                properties:
                  accountPublicId:
                    type: string
                  accountName:
                    type: string
                  isRestricted:
                    type: boolean
                  isPrivatePreviewEnabled:
                    type: boolean
                  is3rdPartyServicesEnabled:
                    type: boolean
                  accountSerial:
                    type: string
              example:
                accountPublicId: string
                accountName: string
                accountSerial: string
      security:
      - BearerAuth: []
      servers: *id001
  /tenancy/account/{accountId}/service-account/{serviceAccountId}:
    delete:
      operationId: tenancy_delete_tenancy_account_by_accountId_service_account_by_serviceAccountId
      summary: Delete a service account
      tags:
      - tenancy
      x-source-file: tenancy/delete-tenancy-account-service-account-del.adoc
      description: Deletes a service account from a specified account.
      parameters:
      - name: accountId
        in: path
        schema:
          type: string
        required: true
      - name: serviceAccountId
        in: path
        schema:
          type: string
        required: true
        description: Service Account Client ID. Do not provide the Service Account
          Public ID.
      - name: X-User-Token
        in: header
        schema:
          type: string
        description: User JWT access token
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
        description: Request identifier
      responses:
        '200':
          description: Default response
      security:
      - BearerAuth: []
      x-token-type: user
      servers: *id001
    patch:
      operationId: tenancy_patch_tenancy_account_by_accountId_service_account_by_serviceAccountId
      summary: Update details
      tags:
      - tenancy
      x-source-file: tenancy/patch-tenancy-account-service-account-pat.adoc
      description: Updates the service account details of a specified account.
      parameters:
      - name: accountId
        in: path
        schema:
          type: string
        required: true
      - name: serviceAccountId
        in: path
        schema:
          type: string
        required: true
        description: Service Account Client ID. Do not provide the Service Account
          Public ID.
      - name: X-User-Token
        in: header
        schema:
          type: string
        description: User JWT access token
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
        description: Request identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                serviceAccountName:
                  type: string
                  description: Service account name
                rolePublicId:
                  type: string
                  description: Service account role
                workspacePublicIds:
                  type: array
                  items:
                    type: string
                  description: Service account workspaces
            example:
              serviceAccountName: string
              rolePublicId: string
              workspacePublicIds:
              - string
      responses:
        '200':
          description: Default response
      security:
      - BearerAuth: []
      x-token-type: user
      servers: *id001
  /tenancy/account/{accountId}/workspace/{workspacePublicId}:
    delete:
      operationId: tenancy_delete_tenancy_account_by_accountId_workspace_by_workspacePublicId
      summary: Delete a workspace
      tags:
      - tenancy
      x-source-file: tenancy/delete-tenancy-account-workspace-id.adoc
      description: Deletes a specified workspace.
      parameters:
      - name: accountId
        in: path
        schema:
          type: string
        required: true
      - name: workspacePublicId
        in: path
        schema:
          type: string
        required: true
      - name: X-User-Token
        in: header
        schema:
          type: string
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Default response
      security:
      - BearerAuth: []
      x-token-type: user
      servers: *id001
    patch:
      operationId: tenancy_patch_tenancy_account_by_accountId_workspace_by_workspacePublicId
      summary: Rename a workspace
      tags:
      - tenancy
      x-source-file: tenancy/patch-tenancy-account-workspace-id.adoc
      description: Renames a workspace with a specified new name.
      parameters:
      - name: accountId
        in: path
        schema:
          type: string
        required: true
      - name: workspacePublicId
        in: path
        schema:
          type: string
        required: true
      - name: X-User-Token
        in: header
        schema:
          type: string
        description: User JWT access token
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
        description: Request identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                newName:
                  type: string
              required:
              - newName
            example:
              newName: string
      responses:
        '200':
          description: Default response
          content:
            application/json:
              schema:
                type: object
                properties:
                  workspacePublicId:
                    type: string
                  workspaceName:
                    type: string
              example:
                workspacePublicId: string
                workspaceName: string
      security:
      - BearerAuth: []
      x-token-type: user
      servers: *id001
  /tenancy/resource/{resourceIdentifier}:
    delete:
      operationId: tenancy_delete_tenancy_resource_by_resourceIdentifier
      summary: Delete a resource from an account
      tags:
      - tenancy
      x-source-file: tenancy/delete-tenancy-resource-id.adoc
      description: Deletes a resource from a specified account. accountId must be
        passed to the X-Tenancy-Account-Id request header.
      parameters:
      - name: resourceIdentifier
        in: path
        schema:
          type: string
        required: true
      - name: X-User-Token
        in: header
        schema:
          type: string
      - name: X-Tenancy-Account-Id
        in: header
        schema:
          type: string
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Default response
      security:
      - BearerAuth: []
      x-token-type: user
      servers: *id001
  /tenancy/service-resources:
    delete:
      operationId: tenancy_delete_tenancy_service_resources
      summary: Delete service resources
      tags:
      - tenancy
      x-source-file: tenancy/delete-tenancy-service-resource-.adoc
      description: 'Deletes service resources from a specified account. *Token usage:*
        BlueXP service token with the following scopes: tenancy:internal.'
      parameters:
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
        description: Request identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                resourceIdentifiers:
                  type: array
                  items:
                    type: string
              required:
              - resourceIdentifiers
            example:
              resourceIdentifiers:
              - string
      responses:
        '200':
          description: Default response
      security:
      - BearerAuth: []
      servers: *id001
  /tenancy/service-resource/{resourceIdentifier}:
    delete:
      operationId: tenancy_delete_tenancy_service_resource_by_resourceIdentifier
      summary: Delete a service resource
      tags:
      - tenancy
      x-source-file: tenancy/delete-tenancy-service-resource-id.adoc
      description: 'Deletes a service resource from a specified account. *Token usage:*
        BlueXP service token with the following scopes: tenancy:internal.'
      parameters:
      - name: resourceIdentifier
        in: path
        schema:
          type: string
        required: true
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Default response
      security:
      - BearerAuth: []
      servers: *id001
  /tenancy/account/{accountId}/members:
    get:
      operationId: tenancy_get_tenancy_account_by_accountId_members
      summary: Retrieve user and service account data
      tags:
      - tenancy
      x-source-file: tenancy/get-tenancy-account-members.adoc
      description: Retrieves the user and service account data of the specified account.
      parameters:
      - name: accountId
        in: path
        schema:
          type: string
        required: true
      - name: X-User-Token
        in: header
        schema:
          type: string
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Default response
      security:
      - BearerAuth: []
      x-token-type: user
      servers: *id001
  /tenancy/account/{accountId}/permissions-for-user:
    get:
      operationId: tenancy_get_tenancy_account_by_accountId_permissions_for_user
      summary: Retrieve user role and permissions
      tags:
      - tenancy
      x-source-file: tenancy/get-tenancy-account-permissions-for-user.adoc
      description: Retrieves the user role and permissions of the specified account.
      parameters:
      - name: accountId
        in: path
        schema:
          type: string
        required: true
      - name: X-User-Token
        in: header
        schema:
          type: string
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Default response
          content:
            application/json:
              schema:
                type: object
                properties:
                  role:
                    type: string
                  permissions:
                    type: array
                    items:
                      type: string
              example:
                role: string
                permissions:
                - string
      security:
      - BearerAuth: []
      x-token-type: user
      servers: *id001
  /tenancy/account/{accountId}/service-accounts:
    get:
      operationId: tenancy_get_tenancy_account_by_accountId_service_accounts
      summary: Retrieve service account data
      tags:
      - tenancy
      x-source-file: tenancy/get-tenancy-account-service-accounts.adoc
      description: Retrieves the service account data of the specified account.
      parameters:
      - name: accountId
        in: path
        schema:
          type: string
        required: true
      - name: X-User-Token
        in: header
        schema:
          type: string
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Default response
      security:
      - BearerAuth: []
      x-token-type: user
      servers: *id001
  /tenancy/account/{accountId}/user/{userId}/workspaces:
    get:
      operationId: tenancy_get_tenancy_account_by_accountId_user_by_userId_workspaces
      summary: Retrieve user account workspaces
      tags:
      - tenancy
      x-source-file: tenancy/get-tenancy-account-user-workspaces.adoc
      description: 'Retrieves specified user account workspaces. *Token usage:* BlueXP
        service token with the following scopes: tenancy:external.'
      parameters:
      - name: accountId
        in: path
        schema:
          type: string
        required: true
      - name: userId
        in: path
        schema:
          type: string
        required: true
      - name: X-User-Token
        in: header
        schema:
          type: string
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Default response
      security:
      - BearerAuth: []
      servers: *id001
  /tenancy/account/{accountId}/users:
    get:
      operationId: tenancy_get_tenancy_account_by_accountId_users
      summary: Retrieve user data
      tags:
      - tenancy
      x-source-file: tenancy/get-tenancy-account-users.adoc
      description: Retrieves the user data of the specified account.
      parameters:
      - name: accountId
        in: path
        schema:
          type: string
        required: true
      - name: X-User-Token
        in: header
        schema:
          type: string
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Default response
      security:
      - BearerAuth: []
      x-token-type: user
      servers: *id001
  /tenancy/account/{accountId}/workspace/{workspacePublicId}/agents:
    get:
      operationId: tenancy_get_tenancy_account_by_accountId_workspace_by_workspacePublicId_agents
      summary: Retrieve agents
      tags:
      - tenancy
      x-source-file: tenancy/get-tenancy-account-workspace-agents.adoc
      description: Retrieves agents associated with a specified workspace.
      parameters:
      - name: accountId
        in: path
        schema:
          type: string
        required: true
      - name: workspacePublicId
        in: path
        schema:
          type: string
        required: true
      - name: X-User-Token
        in: header
        schema:
          type: string
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Default response
      security:
      - BearerAuth: []
      x-token-type: user
      servers: *id001
  /tenancy/account/{accountId}/workspace:
    get:
      operationId: tenancy_get_tenancy_account_by_accountId_workspace
      summary: Retrieve workspaces
      tags:
      - tenancy
      x-source-file: tenancy/get-tenancy-account-workspace.adoc
      description: Retrieves workspaces associated with a specified account.
      parameters:
      - name: accountId
        in: path
        schema:
          type: string
        required: true
      - name: X-User-Token
        in: header
        schema:
          type: string
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Default response
      security:
      - BearerAuth: []
      x-token-type: user
      servers: *id001
  /tenancy/account:
    get:
      operationId: tenancy_get_tenancy_account
      summary: Retrieve user accounts
      tags:
      - tenancy
      x-source-file: tenancy/get-tenancy-account.adoc
      description: Retrieves all accounts related to the user.
      parameters:
      - name: X-User-Token
        in: header
        schema:
          type: string
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Default response
      security:
      - BearerAuth: []
      x-token-type: user
      servers: *id001
  /tenancy/resource:
    get:
      operationId: tenancy_get_tenancy_resource
      summary: Retrieve a resource
      tags:
      - tenancy
      x-source-file: tenancy/get-tenancy-resource.adoc
      description: Retrieves a resource for an account.
      parameters:
      - name: account
        in: query
        schema:
          type: string
        required: true
      - name: resource-type
        in: query
        schema:
          type: string
      - name: workspace
        in: query
        schema:
          type: string
      - name: resource-class
        in: query
        schema:
          type: string
      - name: X-User-Token
        in: header
        schema:
          type: string
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Default response
      security:
      - BearerAuth: []
      x-token-type: user
      servers: *id001
    post:
      operationId: tenancy_post_tenancy_resource
      summary: Create an external resource
      tags:
      - tenancy
      x-source-file: tenancy/post-tenancy-resource.adoc
      description: Creates an external resource as a BlueXP resource. resourceType
        must be passed to the request.
      parameters:
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
        description: Request identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workspacePublicId:
                  type: string
                agentId:
                  type: string
                resourceIdentifier:
                  type: string
                resourceType:
                  type: string
                resourceClass:
                  type: string
                cloudId:
                  type: string
                name:
                  type: string
              required:
              - agentId
            example:
              workspacePublicId: workspace-APWLzah1
              agentId: string
              resourceIdentifier: VsaWorkingEnvironment-yQFegzgz
              resourceType: string
              resourceClass: string
              cloudId: string
              name: string
      responses:
        '200':
          description: Default response
          content:
            application/json:
              schema:
                type: object
                properties:
                  accountPublicId:
                    type: string
                  resourcePublicId:
                    type: string
                  resourceIdentifier:
                    type: string
                  resourceType:
                    type: string
                  agentId:
                    type: string
                  resourceClass:
                    type: string
                  name:
                    type: string
                  cloudId:
                    type: string
                  agentIds:
                    type: array
                    items:
                      type: string
              example:
                accountPublicId: string
                resourcePublicId: string
                resourceIdentifier: string
                resourceType: string
                agentId: string
                resourceClass: string
                name: string
                cloudId: string
                agentIds:
                - string
      security:
      - BearerAuth: []
      x-token-type: user
      servers: *id001
  /tenancy/users/for-action/{accountId}/{action}/{resourceId}:
    get:
      operationId: tenancy_get_tenancy_users_for_action_by_accountId_by_action_by_resourceId
      summary: Retrieve users authorized for single resource
      tags:
      - tenancy
      x-source-file: tenancy/get-tenancy-users-for-action--id.adoc
      description: 'Retrieves users authorized for actions on a particular resource.
        *Token usage:* BlueXP service token with the following scopes: tenancy:internal.'
      parameters:
      - name: enforce_ws
        in: query
        schema:
          type: boolean
      - name: accountId
        in: path
        schema:
          type: string
        required: true
      - name: action
        in: path
        schema:
          type: string
        required: true
      - name: resourceId
        in: path
        schema:
          type: string
        required: true
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Default response
          content:
            application/json:
              schema:
                type: object
                properties:
                  userIds:
                    type: array
                    items:
                      type: string
              example:
                userIds:
                - string
      security:
      - BearerAuth: []
      servers: *id001
  /tenancy/users/for-action/{accountId}/{action}:
    get:
      operationId: tenancy_get_tenancy_users_for_action_by_accountId_by_action
      summary: Retrieve users authorized for all resources
      tags:
      - tenancy
      x-source-file: tenancy/get-tenancy-users-for-action-id.adoc
      description: 'Retrieves users authorized for actions across all resources. *Token
        usage:* BlueXP service token with the following scopes: tenancy:internal.'
      parameters:
      - name: accountId
        in: path
        schema:
          type: string
        required: true
      - name: action
        in: path
        schema:
          type: string
        required: true
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Default response
          content:
            application/json:
              schema:
                type: object
                properties:
                  userIds:
                    type: array
                    items:
                      type: string
              example:
                userIds:
                - string
      security:
      - BearerAuth: []
      servers: *id001
  /tenancy/account/{accountId}/update-user:
    patch:
      operationId: tenancy_patch_tenancy_account_by_accountId_update_user
      summary: Enable Cloud Manager notifications
      tags:
      - tenancy
      x-source-file: tenancy/patch-tenancy-account-update-user.adoc
      description: Updates the user cloudManagerNotificationsOptIn property of the
        specified account. The cloudManagerNotificationsOptIn property determines
        whether the user receives BlueXP notifications.
      parameters:
      - name: accountId
        in: path
        schema:
          type: string
        required: true
      - name: X-User-Token
        in: header
        schema:
          type: string
        description: User JWT access token
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
        description: Request identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cloudManagerNotificationsOptIn:
                  type: boolean
              required:
              - cloudManagerNotificationsOptIn
      responses:
        '200':
          description: Default response
      security:
      - BearerAuth: []
      x-token-type: user
      servers: *id001
  /tenancy/account/{accountId}/associate:
    post:
      operationId: tenancy_post_tenancy_account_by_accountId_associate
      summary: Associate a user
      tags:
      - tenancy
      x-source-file: tenancy/post-tenancy-account-associate.adoc
      description: Associates the user to the account by using the user email.
      parameters:
      - name: accountId
        in: path
        schema:
          type: string
        required: true
      - name: X-User-Token
        in: header
        schema:
          type: string
        description: User JWT access token
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
        description: Request identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                associatedEmail:
                  type: string
                  description: User email to be associated with the account
                rolePublicId:
                  type: string
                  description: User role name. For example, use Role-1 for account
                    admin or Role-2 for workspace admin.
            example:
              associatedEmail: string
              rolePublicId: Role-1
      responses:
        '200':
          description: Default response
          content:
            application/json:
              schema:
                type: object
                properties:
                  userPublicId:
                    type: string
                  userClientId:
                    type: string
                  userRole:
                    type: string
                  cloudManagerNotificationsOptIn:
                    type: boolean
              example:
                userPublicId: string
                userClientId: string
                userRole: string
      security:
      - BearerAuth: []
      x-token-type: user
      servers: *id001
  /tenancy/account/{srcAccountId}/dest/account/{dstAccountId}:
    post:
      operationId: tenancy_post_tenancy_account_by_srcAccountId_dest_account_by_dstAccountId
      summary: Move account data
      tags:
      - tenancy
      x-source-file: tenancy/post-tenancy-account-dest-account-.adoc
      description: 'Moves account data from the source account to the destination
        account. *Token usage:* BlueXP service token with the following scopes: tenancy:support.'
      parameters:
      - name: srcAccountId
        in: path
        schema:
          type: string
        required: true
      - name: dstAccountId
        in: path
        schema:
          type: string
        required: true
      - name: X-User-Token
        in: header
        schema:
          type: string
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Default response
      security:
      - BearerAuth: []
      servers: *id001
  /tenancy/account/{accountId}/disassociate:
    post:
      operationId: tenancy_post_tenancy_account_by_accountId_disassociate
      summary: Dissociate a user
      tags:
      - tenancy
      x-source-file: tenancy/post-tenancy-account-disassociate.adoc
      description: Disassociates the user from the specified account.
      parameters:
      - name: accountId
        in: path
        schema:
          type: string
        required: true
      - name: X-User-Token
        in: header
        schema:
          type: string
        description: User JWT access token
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
        description: Request identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                associatedUserPublicId:
                  type: string
            example:
              associatedUserPublicId: string
      responses:
        '200':
          description: Default response
      security:
      - BearerAuth: []
      x-token-type: user
      servers: *id001
  /tenancy/account/{accountId}/enable-3rd-party-services/{enabled}:
    post:
      operationId: tenancy_post_tenancy_account_by_accountId_enable_3rd_party_services_by_enabled
      summary: Enable third-party services
      tags:
      - tenancy
      x-source-file: tenancy/post-tenancy-account-enable-3rd-party-services-id.adoc
      description: Sets the third-party enabled property of the specified account.
        The enabled property determines whether third-party services are enabled for
        the account.
      parameters:
      - name: accountId
        in: path
        schema:
          type: string
        required: true
      - name: enabled
        in: path
        schema:
          type: boolean
        required: true
      - name: X-User-Token
        in: header
        schema:
          type: string
        description: User JWT access token
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
        description: Request identifier
      responses:
        '200':
          description: Default response
      security:
      - BearerAuth: []
      x-token-type: user
      servers: *id001
  /tenancy/account/{accountId}/enable-private-preview/{privatePreviewEnabled}:
    post:
      operationId: tenancy_post_tenancy_account_by_accountId_enable_private_preview_by_privatePreviewEnabled
      summary: Enable private preview for SaaS
      tags:
      - tenancy
      x-source-file: tenancy/post-tenancy-account-enable-private-preview-id.adoc
      description: Sets the privatePreviewEnabled property of the specified account.
        The privatePreviewEnabled property determines whether private preview of the
        SaaS interface is enabled.
      parameters:
      - name: accountId
        in: path
        schema:
          type: string
        required: true
      - name: privatePreviewEnabled
        in: path
        schema:
          type: boolean
        required: true
      - name: X-User-Token
        in: header
        schema:
          type: string
        description: User JWT access token
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
        description: Request identifier
      responses:
        '200':
          description: Default response
      security:
      - BearerAuth: []
      x-token-type: user
      servers: *id001
  /tenancy/account/{accountName}:
    post:
      operationId: tenancy_post_tenancy_account_by_accountName
      summary: Create an account
      tags:
      - tenancy
      x-source-file: tenancy/post-tenancy-account-id.adoc
      description: Creates a new account with the specified account name.
      parameters:
      - name: accountName
        in: path
        schema:
          type: string
        required: true
        description: Account name
      - name: X-User-Token
        in: header
        schema:
          type: string
        description: User JWT access token
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
        description: Request identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                isSaasDisabled:
                  type: boolean
                  description: Specifies if created account is saas disabled, default
                    false
      responses:
        '200':
          description: Successful create account response
          content:
            application/json:
              schema:
                type: object
                properties:
                  accountPublicId:
                    type: string
              example:
                accountPublicId: string
      security:
      - BearerAuth: []
      x-token-type: user
      servers: *id001
  /tenancy/account/{accountId}/leave:
    post:
      operationId: tenancy_post_tenancy_account_by_accountId_leave
      summary: Delete a user
      tags:
      - tenancy
      x-source-file: tenancy/post-tenancy-account-leave.adoc
      description: Removes the user from the specified account.
      parameters:
      - name: accountId
        in: path
        schema:
          type: string
        required: true
      - name: X-User-Token
        in: header
        schema:
          type: string
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Default response
      security:
      - BearerAuth: []
      x-token-type: user
      servers: *id001
  /tenancy/account/{accountId}/rename/{newAccountName}:
    post:
      operationId: tenancy_post_tenancy_account_by_accountId_rename_by_newAccountName
      summary: Rename an account
      tags:
      - tenancy
      x-source-file: tenancy/post-tenancy-account-rename-id.adoc
      description: Renames the specified account with a specified new name.
      parameters:
      - name: accountId
        in: path
        schema:
          type: string
        required: true
      - name: newAccountName
        in: path
        schema:
          type: string
        required: true
      - name: X-User-Token
        in: header
        schema:
          type: string
        description: User JWT access token
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
        description: Request identifier
      responses:
        '200':
          description: Default response
      security:
      - BearerAuth: []
      x-token-type: user
      servers: *id001
  /tenancy/account/{accountId}/service-account/{serviceAccountId}/generate-service-account-secret:
    post:
      operationId: tenancy_post_tenancy_account_by_accountId_service_account_by_serviceAccountId_generate_service_account_secret
      summary: Generate a secret
      tags:
      - tenancy
      x-source-file: tenancy/post-tenancy-account-service-account-generate-service-account-secret.adoc
      description: Generates the service account secret.
      parameters:
      - name: accountId
        in: path
        schema:
          type: string
        required: true
      - name: serviceAccountId
        in: path
        schema:
          type: string
        required: true
        description: Service Account Client ID. Do not provide the Service Account
          Public ID.
      - name: X-User-Token
        in: header
        schema:
          type: string
        description: User JWT access token
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
        description: Request identifier
      responses:
        '200':
          description: Default response
          content:
            application/json:
              schema:
                type: object
                properties:
                  clientId:
                    type: string
                  clientSecret:
                    type: string
              example:
                clientId: string
                clientSecret: string
      security:
      - BearerAuth: []
      x-token-type: user
      servers: *id001
  /tenancy/account/{accountId}/service-account:
    post:
      operationId: tenancy_post_tenancy_account_by_accountId_service_account
      summary: Create a service account
      tags:
      - tenancy
      x-source-file: tenancy/post-tenancy-account-service-account.adoc
      description: Creates a service account on a specified account.
      parameters:
      - name: accountId
        in: path
        schema:
          type: string
        required: true
      - name: X-User-Token
        in: header
        schema:
          type: string
        description: User JWT access token
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
        description: Request identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                serviceAccountName:
                  type: string
                  description: Service account name
                rolePublicId:
                  type: string
                  description: Service account role
                workspacePublicIds:
                  type: array
                  items:
                    type: string
                  description: Service account workspaces
              required:
              - serviceAccountName
              - rolePublicId
            example:
              serviceAccountName: string
              rolePublicId: string
              workspacePublicIds:
              - string
      responses:
        '200':
          description: Default response
          content:
            application/json:
              schema:
                type: object
                properties:
                  clientId:
                    type: string
                  clientSecret:
                    type: string
                  publicId:
                    type: string
              example:
                clientId: string
                clientSecret: string
                publicId: string
      security:
      - BearerAuth: []
      x-token-type: user
      servers: *id001
  /tenancy/account/{accountId}/workspace/{workspacePublicId}/add-agent/{agentAuth0Id}:
    post:
      operationId: tenancy_post_tenancy_account_by_accountId_workspace_by_workspacePublicId_add_agent_by_agentAuth0Id
      summary: Add an agent
      tags:
      - tenancy
      x-source-file: tenancy/post-tenancy-account-workspace-add-agent-id.adoc
      description: Adds an agent to a specified workspace.
      parameters:
      - name: agentAuth0Id
        in: path
        schema:
          type: string
        required: true
      - name: accountId
        in: path
        schema:
          type: string
        required: true
      - name: workspacePublicId
        in: path
        schema:
          type: string
        required: true
      - name: X-User-Token
        in: header
        schema:
          type: string
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Default response
      security:
      - BearerAuth: []
      x-token-type: user
      servers: *id001
  /tenancy/account/{accountId}/workspace/{workspacePublicId}/add-user/{userPublicId}:
    post:
      operationId: tenancy_post_tenancy_account_by_accountId_workspace_by_workspacePublicId_add_user_by_userPublicId
      summary: Add a user
      tags:
      - tenancy
      x-source-file: tenancy/post-tenancy-account-workspace-add-user-id.adoc
      description: Adds a user to a specified workspace.
      parameters:
      - name: accountId
        in: path
        schema:
          type: string
        required: true
      - name: workspacePublicId
        in: path
        schema:
          type: string
        required: true
      - name: userPublicId
        in: path
        schema:
          type: string
        required: true
      - name: X-User-Token
        in: header
        schema:
          type: string
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Default response
      security:
      - BearerAuth: []
      x-token-type: user
      servers: *id001
  /tenancy/account/{accountId}/workspace/{name}:
    post:
      operationId: tenancy_post_tenancy_account_by_accountId_workspace_by_name
      summary: Create a workspace
      tags:
      - tenancy
      x-source-file: tenancy/post-tenancy-account-workspace-id.adoc
      description: Creates a workspace in a specified account.
      parameters:
      - name: accountId
        in: path
        schema:
          type: string
        required: true
      - name: name
        in: path
        schema:
          type: string
        required: true
      - name: X-User-Token
        in: header
        schema:
          type: string
        description: User JWT access token
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
        description: Request identifier
      responses:
        '200':
          description: Default response
          content:
            application/json:
              schema:
                type: object
                properties:
                  workspacePublicId:
                    type: string
                  workspaceName:
                    type: string
              example:
                workspacePublicId: string
                workspaceName: string
      security:
      - BearerAuth: []
      x-token-type: user
      servers: *id001
  /tenancy/account/{accountId}/workspace/{workspacePublicId}/remove-agent/{agentAuth0Id}:
    post:
      operationId: tenancy_post_tenancy_account_by_accountId_workspace_by_workspacePublicId_remove_agent_by_agentAuth0Id
      summary: Remove an agent
      tags:
      - tenancy
      x-source-file: tenancy/post-tenancy-account-workspace-remove-agent-id.adoc
      description: Removes an agent from a specified workspace.
      parameters:
      - name: agentAuth0Id
        in: path
        schema:
          type: string
        required: true
      - name: accountId
        in: path
        schema:
          type: string
        required: true
      - name: workspacePublicId
        in: path
        schema:
          type: string
        required: true
      - name: X-User-Token
        in: header
        schema:
          type: string
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Default response
      security:
      - BearerAuth: []
      x-token-type: user
      servers: *id001
  /tenancy/account/{accountPublicId}/workspace/{workspacePublicId}/remove-user/{userPublicId}:
    post:
      operationId: tenancy_post_tenancy_account_by_accountPublicId_workspace_by_workspacePublicId_remove_user_by_userPublicId
      summary: Remove a user
      tags:
      - tenancy
      x-source-file: tenancy/post-tenancy-account-workspace-remove-user-id.adoc
      description: Removes a user from a specified workspace.
      parameters:
      - name: accountPublicId
        in: path
        schema:
          type: string
        required: true
      - name: workspacePublicId
        in: path
        schema:
          type: string
        required: true
      - name: userPublicId
        in: path
        schema:
          type: string
        required: true
      - name: X-User-Token
        in: header
        schema:
          type: string
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Default response
      security:
      - BearerAuth: []
      x-token-type: user
      servers: *id001
  /tenancy/authorize-agent-in-account:
    post:
      operationId: tenancy_post_tenancy_authorize_agent_in_account
      summary: Authorize an agent
      tags:
      - tenancy
      x-source-file: tenancy/post-tenancy-authorize-agent-in-account.adoc
      description: Authorizes an agent in a specified account. *Token usage:* Both
        a BlueXP user token and service token. Pass the user token in the Authorization
        request header and the service token in the X-Agent-Token request header.
      parameters:
      - name: X-Agent-Token
        in: header
        schema:
          type: string
        required: true
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                accountId:
                  type: string
              required:
              - accountId
            example:
              accountId: string
      responses:
        '200':
          description: Default response
      security:
      - BearerAuth: []
      servers: *id001
  /tenancy/authorize-agent-workspace:
    post:
      operationId: tenancy_post_tenancy_authorize_agent_workspace
      summary: Authorize an agent workspace
      tags:
      - tenancy
      x-source-file: tenancy/post-tenancy-authorize-agent-workspace.adoc
      description: Authorize an agent in a workspace.
      parameters:
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
        description: Request identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                agentId:
                  type: string
                workspacePublicId:
                  type: string
                action:
                  type: string
              required:
              - agentId
              - workspacePublicId
              - action
            example:
              agentId: string
              workspacePublicId: string
              action: string
      responses:
        '200':
          description: Default response
      security:
      - BearerAuth: []
      x-token-type: user
      servers: *id001
  /tenancy/authorize-agent:
    post:
      operationId: tenancy_post_tenancy_authorize_agent
      summary: Authorize an external agent
      tags:
      - tenancy
      x-source-file: tenancy/post-tenancy-authorize-agent.adoc
      description: Authorizes an external agent to perform specific actions.
      parameters:
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
        description: Request identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                agentId:
                  type: string
                action:
                  type: string
              required:
              - agentId
              - action
            example:
              agentId: string
              action: string
      responses:
        '200':
          description: Default response
      security:
      - BearerAuth: []
      x-token-type: user
      servers: *id001
  /tenancy/authorize-user-is-account-admin:
    post:
      operationId: tenancy_post_tenancy_authorize_user_is_account_admin
      summary: Authorize a user as account admin
      tags:
      - tenancy
      x-source-file: tenancy/post-tenancy-authorize-user-is-account-admin.adoc
      description: Authorizes a user as an account admin.
      parameters:
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
        description: Request identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                accountId:
                  type: string
                userId:
                  type: string
                resourceIdentifier:
                  type: string
                agentId:
                  type: string
              required:
              - accountId
            example:
              accountId: string
              userId: string
              resourceIdentifier: string
              agentId: string
      responses:
        '200':
          description: Default response
      security:
      - BearerAuth: []
      x-token-type: user
      servers: *id001
  /tenancy/authorize-user-is-in-account:
    post:
      operationId: tenancy_post_tenancy_authorize_user_is_in_account
      summary: Authorize a user for an account
      tags:
      - tenancy
      x-source-file: tenancy/post-tenancy-authorize-user-is-in-account.adoc
      description: Authorizes a user in a specified account.
      parameters:
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
        description: Request identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                accountId:
                  type: string
              required:
              - accountId
            example:
              accountId: string
      responses:
        '200':
          description: Default response
      security:
      - BearerAuth: []
      x-token-type: user
      servers: *id001
  /tenancy/authorize:
    post:
      operationId: tenancy_post_tenancy_authorize
      summary: Authorize an external resource
      tags:
      - tenancy
      x-source-file: tenancy/post-tenancy-authorize.adoc
      description: Authorizes an external resource to perform specific actions.
      parameters:
      - name: X-User-Token
        in: header
        schema:
          type: string
        description: User JWT access token
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
        description: Request identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                resourceIdentifier:
                  type: string
                action:
                  type: string
                accountId:
                  type: string
              required:
              - resourceIdentifier
              - action
            example:
              resourceIdentifier: string
              action: string
              accountId: string
      responses:
        '200':
          description: Default response
          content:
            application/json:
              schema:
                type: object
                properties:
                  agentId:
                    type: string
                  resourceIdentifier:
                    type: string
                  resourceType:
                    type: string
                  resourcePublicId:
                    type: string
                  accountPublicId:
                    type: string
                  agentIds:
                    type: array
                    items:
                      type: string
              example:
                agentId: string
                resourceIdentifier: string
                resourceType: string
                resourcePublicId: string
                accountPublicId: string
                agentIds:
                - string
      security:
      - BearerAuth: []
      x-token-type: user
      servers: *id001
  /tenancy/resource/{resourceIdentifier}/account/{accountId}/set-resource-name:
    post:
      operationId: tenancy_post_tenancy_resource_by_resourceIdentifier_account_by_accountId_set_resource_name
      summary: Set a resource name
      tags:
      - tenancy
      x-source-file: tenancy/post-tenancy-resource-account-set-resource-name.adoc
      description: 'Sets the name of a resource. CAUTION: This operation is deprecated.'
      parameters:
      - name: resourceIdentifier
        in: path
        schema:
          type: string
        required: true
      - name: accountId
        in: path
        schema:
          type: string
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
              required:
              - name
            example:
              name: string
      responses:
        '200':
          description: Default response
      security:
      - BearerAuth: []
      x-token-type: user
      servers: *id001
  /tenancy/resource/{resourceIdentifier}/account/{accountId}/update:
    post:
      operationId: tenancy_post_tenancy_resource_by_resourceIdentifier_account_by_accountId_update
      summary: Update properties
      tags:
      - tenancy
      x-source-file: tenancy/post-tenancy-resource-account-update.adoc
      description: Updates properties of a specified resource.
      parameters:
      - name: resourceIdentifier
        in: path
        schema:
          type: string
        required: true
      - name: accountId
        in: path
        schema:
          type: string
        required: true
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
        description: Request identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cloudId:
                  type: string
                metadata:
                  $ref: '#/components/schemas/tenancy.post-tenancy-resource-account-update.metadata'
            example:
              cloudId: string
              metadata:
                propertyName: string
                propertyValue: string
      responses:
        '200':
          description: Default response
      security:
      - BearerAuth: []
      x-token-type: user
      servers: *id001
  /tenancy/resource/{resourceIdentifier}/add-to-workspace/{workspacePublicId}:
    post:
      operationId: tenancy_post_tenancy_resource_by_resourceIdentifier_add_to_workspace_by_workspacePublicId
      summary: Add a resource to a workspace
      tags:
      - tenancy
      x-source-file: tenancy/post-tenancy-resource-add-to-workspace-id.adoc
      description: Adds a resource to a specified workspace.
      parameters:
      - name: resourceIdentifier
        in: path
        schema:
          type: string
        required: true
      - name: workspacePublicId
        in: path
        schema:
          type: string
        required: true
      - name: X-User-Token
        in: header
        schema:
          type: string
        description: User JWT access token
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
        description: Request identifier
      responses:
        '200':
          description: Default response
          content:
            application/json:
              schema:
                type: object
                properties:
                  accountPublicId:
                    type: string
                  resourcePublicId:
                    type: string
                  resourceIdentifier:
                    type: string
                  resourceType:
                    type: string
                  agentId:
                    type: string
                  resourceClass:
                    type: string
                  cloudId:
                    type: string
                  agentIds:
                    type: array
                    items:
                      type: string
              example:
                accountPublicId: string
                resourcePublicId: string
                resourceIdentifier: string
                resourceType: string
                agentId: string
                resourceClass: string
                cloudId: string
                agentIds:
                - string
      security:
      - BearerAuth: []
      x-token-type: user
      servers: *id001
  /tenancy/resource/discover:
    post:
      operationId: tenancy_post_tenancy_resource_discover
      summary: Discover an external resource
      tags:
      - tenancy
      x-source-file: tenancy/post-tenancy-resource-discover.adoc
      description: Discovers an external resource to be added to BlueXP.
      parameters:
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
        description: Request identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workspacePublicId:
                  type: string
                agentId:
                  type: string
                resourceIdentifier:
                  type: string
                name:
                  type: string
                resourceType:
                  type: string
                resourceClass:
                  type: string
                cloudId:
                  type: string
                metadata:
                  $ref: '#/components/schemas/tenancy.post-tenancy-resource-discover.metadata'
              required:
              - workspacePublicId
              - agentId
              - resourceIdentifier
            example:
              workspacePublicId: workspace-APWLzah1
              agentId: string
              resourceIdentifier: VsaWorkingEnvironment-yQFegzgz
              name: string
              resourceType: string
              resourceClass: string
              cloudId: string
              metadata:
                propertyName: string
                propertyValue: string
      responses:
        '200':
          description: Default response
          content:
            application/json:
              schema:
                type: object
                properties:
                  accountPublicId:
                    type: string
                  resourcePublicId:
                    type: string
                  resourceIdentifier:
                    type: string
                  resourceType:
                    type: string
                  agentId:
                    type: string
                  resourceClass:
                    type: string
                  cloudId:
                    type: string
                  metadata:
                    type: string
                  agentIds:
                    type: array
                    items:
                      type: string
              example:
                accountPublicId: string
                resourcePublicId: string
                resourceIdentifier: string
                resourceType: string
                agentId: string
                resourceClass: string
                cloudId: string
                metadata: string
                agentIds:
                - string
      security:
      - BearerAuth: []
      x-token-type: user
      servers: *id001
  /tenancy/resource/{resourceIdentifier}/remove-from-agent/{agentId}:
    post:
      operationId: tenancy_post_tenancy_resource_by_resourceIdentifier_remove_from_agent_by_agentId
      summary: Remove a resource from an agent
      tags:
      - tenancy
      x-source-file: tenancy/post-tenancy-resource-remove-from-agent-id.adoc
      description: Removes a resource from a specified agent.
      parameters:
      - name: resourceIdentifier
        in: path
        schema:
          type: string
        required: true
      - name: agentId
        in: path
        schema:
          type: string
        required: true
      - name: X-User-Token
        in: header
        schema:
          type: string
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Default response
      security:
      - BearerAuth: []
      x-token-type: user
      servers: *id001
  /tenancy/resource/{resourceIdentifier}/remove-from-workspace/{workspacePublicId}:
    post:
      operationId: tenancy_post_tenancy_resource_by_resourceIdentifier_remove_from_workspace_by_workspacePublicId
      summary: Remove a resource from a workspace
      tags:
      - tenancy
      x-source-file: tenancy/post-tenancy-resource-remove-from-workspace-id.adoc
      description: Removes a resource from a specified workspace.
      parameters:
      - name: resourceIdentifier
        in: path
        schema:
          type: string
        required: true
      - name: workspacePublicId
        in: path
        schema:
          type: string
        required: true
      - name: X-User-Token
        in: header
        schema:
          type: string
        description: User JWT access token
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
        description: Request identifier
      responses:
        '200':
          description: Default response
      security:
      - BearerAuth: []
      x-token-type: user
      servers: *id001
  /tenancy/resource/{resourceIdentifier}/set-cloud-id:
    post:
      operationId: tenancy_post_tenancy_resource_by_resourceIdentifier_set_cloud_id
      summary: Set a cloud identifier
      tags:
      - tenancy
      x-source-file: tenancy/post-tenancy-resource-set-cloud-id.adoc
      description: 'Sets the cloud identifier of a resource. CAUTION: This operation
        is deprecated.'
      parameters:
      - name: resourceIdentifier
        in: path
        schema:
          type: string
        required: true
      - name: X-Tenancy-Account-Id
        in: header
        schema:
          type: string
        description: accountID to be passed.
      - name: X-Service-Request-Id
        in: header
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cloudId:
                  type: string
              required:
              - cloudId
            example:
              cloudId: string
      responses:
        '200':
          description: Default response
      security:
      - BearerAuth: []
      x-token-type: user
      servers: *id001
  /folders/{folder_id}:
    delete:
      operationId: tenancyv4_delete_folders_by_folder_id
      summary: Delete a folder
      tags:
      - tenancyv4
      x-source-file: tenancyv4/delete-folders-.adoc
      description: Deletes the specified folder.
      parameters:
      - name: folder_id
        in: path
        schema:
          type: string
        required: true
        description: ID of the folder.
      responses:
        '204':
          description: Indicates if the folder was deleted.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  correlationId:
                    type: string
                    description: Internal UUID representing the request or trace ID
                      related.
                  detail:
                    type: string
                    description: Details about the problem.
                  invalidParams:
                    type: array
                    items:
                      $ref: '#/components/schemas/tenancyv4.delete-folders-.invalidParams'
                    description: List of invalid parameters.
                  status:
                    type: string
                    description: HTTP error code related to the problem.
                  title:
                    type: string
                    description: Title description of the problem.
                  type:
                    type: string
                    description: Content-type of the object.
                required:
                - status
                - title
                - type
              example:
                detail: The supplied query parameters are invalid.
                status: '400'
                title: Invalid query parameters
                type: https://bluexp.netapp.io/problems/1
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  correlationId:
                    type: string
                    description: Internal UUID representing the request or trace ID
                      related.
                  detail:
                    type: string
                    description: Details about the problem.
                  invalidParams:
                    type: array
                    items:
                      $ref: '#/components/schemas/tenancyv4.delete-folders-.invalidParams'
                    description: List of invalid parameters.
                  status:
                    type: string
                    description: HTTP error code related to the problem.
                  title:
                    type: string
                    description: Title description of the problem.
                  type:
                    type: string
                    description: Content-type of the object.
                required:
                - status
                - title
                - type
              example:
                detail: The request is missing the required bearer token.
                status: '401'
                title: Missing bearer token
                type: https://bluexp.netapp.io/problems/1
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  correlationId:
                    type: string
                    description: Internal UUID representing the request or trace ID
                      related.
                  detail:
                    type: string
                    description: Details about the problem.
                  invalidParams:
                    type: array
                    items:
                      $ref: '#/components/schemas/tenancyv4.delete-folders-.invalidParams'
                    description: List of invalid parameters.
                  status:
                    type: string
                    description: HTTP error code related to the problem.
                  title:
                    type: string
                    description: Title description of the problem.
                  type:
                    type: string
                    description: Content-type of the object.
                required:
                - status
                - title
                - type
              example:
                detail: The requested operation isn't permitted.
                status: '403'
                title: Operation not permitted
                type: https://bluexp.netapp.io/problems/11
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  correlationId:
                    type: string
                    description: Internal UUID representing the request or trace ID
                      related.
                  detail:
                    type: string
                    description: Details about the problem.
                  invalidParams:
                    type: array
                    items:
                      $ref: '#/components/schemas/tenancyv4.delete-folders-.invalidParams'
                    description: List of invalid parameters.
                  status:
                    type: string
                    description: HTTP error code related to the problem.
                  title:
                    type: string
                    description: Title description of the problem.
                  type:
                    type: string
                    description: Content-type of the object.
                required:
                - status
                - title
                - type
              example:
                detail: The collection specified in the request URI wasn't found.
                status: '404'
                title: Collection not found
                type: https://bluexp.netapp.io/problems/2
      security:
      - BearerAuth: []
      servers: &id002
      - url: https://api.bluexp.netapp.com/v1/management
        description: BlueXP IAM v4 (tenancyv4)
    get:
      operationId: tenancyv4_get_folders_by_folder_id
      summary: Retrieve a folder
      tags:
      - tenancyv4
      x-source-file: tenancyv4/get-folders-.adoc
      description: Retrieves the specified folder.
      parameters:
      - name: folder_id
        in: path
        schema:
          type: string
        required: true
        description: ID of the folder.
      - name: filter
        in: query
        schema:
          type: string
        description: 'Specifies which fields should be matched in order to return
          a resource when listing a collection. Supported operators: URL example:
          "filter=field%20eq%20%27value%27" OpenAPI examples: "field eq ''value''"'
      - name: skip
        in: query
        schema:
          type: string
        description: 'Specifies the number of resources to skip when listing a collection.
          URL examples: "skip=1" OpenAPI examples: "1"'
      - name: include
        in: query
        schema:
          type: string
        description: 'Specifies which fields should be returned when listing a collection.
          URL examples: "include=id", "include=id,name" OpenAPI examples: "id"'
      - name: limit
        in: query
        schema:
          type: string
        description: 'Specifies the maximum number of resources to return when listing
          a collection. URL examples: "limit=2" OpenAPI examples: "2"'
      - name: orderBy
        in: query
        schema:
          type: string
        description: 'Indicates the sort order of resources when listing a collection.
          URL examples: "orderBy=name", "orderBy=name%20desc" OpenAPI examples: "name
          desc"'
      - name: count
        in: query
        schema:
          type: string
        description: 'Indicates if the total number of resources should be returned
          in the response object. URL examples: "count=true" OpenAPI examples: "true"'
      - name: continue
        in: query
        schema:
          type: string
        description: 'Indicates the token to resume from when listing a collection.
          URL examples: "continue=[Continue Token from Collection Metadata]" OpenAPI
          examples: "[Continue Token from Collection Metadata]"'
      responses:
        '200':
          description: Returns the stored folder in the JSON response body.
          content:
            application/json:
              schema:
                type: object
                properties:
                  description:
                    type: string
                    description: 'JSON string containing the description of the resource.
                      Defined values are: * Minimum length: 1 * Maximum length: 254
                      * This string is internally validated to prevent XSS, Unicode,
                      directory traversal, and SQL-injection attacks.'
                  id:
                    type: string
                    description: 'Globally unique identifier of the resource. Defined
                      values are:'
                  isSystem:
                    type: string
                    description: 'Specifies if an object is system generated. Defined
                      values are:'
                  legacyId:
                    type: string
                    description: Unique identifier as understood by the previous version
                      of this service.
                  links:
                    type: array
                    items:
                      $ref: '#/components/schemas/tenancyv4.get-folders-.type_bxp_link'
                  metadata:
                    $ref: '#/components/schemas/tenancyv4.get-folders-.type_bxp_metadata'
                    description: Metadata associated with the resource.
                  name:
                    type: string
                    description: 'JSON string containing a name for the resource.
                      Defined values are:'
                  ownerOrganizationId:
                    type: string
                    description: JSON string containing the ID of the organization.
                  parentId:
                    type: string
                    description: JSON string containing the ID of the hierarchy.
                  rawId:
                    type: string
                    description: JSON string containing the physical ID of the resource.
                      It is the ID as defined by the system (a UUID, a string, or
                      any other defined ID). For example, the UUID of an ONTAP cluster
                      or the UUID of an application in Astra Control.
                  resourceClass:
                    type: string
                    description: JSON string containing the resource class. This field
                      is for Accounts (tenancy) compatibility support.
                  resourceType:
                    type: string
                    description: JSON string containing the resource type. This should
                      be one of the allowed resource types, which should be in the
                      resource types collection. These resource types are defined
                      by the service applications and the NetApp Console IAM system.
                  state:
                    type: string
                    description: 'Represents the state of the resource. State of the
                      resource can be reconciling, which indicates the resource is
                      currently undergoing a reconciliation process or available,
                      which indicates the resources is currently available. Defined
                      values are:'
                  tags:
                    type: array
                    items:
                      $ref: '#/components/schemas/tenancyv4.get-folders-.tags'
                    description: JSON array of tags (name/value pairs) representing
                      metadata for the resource.
                  type:
                    type: string
                    description: 'Media type of the resource. Defined values are:'
                  version:
                    type: string
                    description: 'Version of the resource. Defined values are:'
                required:
                - id
                - name
                - resourceClass
                - resourceType
                - type
                - version
              example:
                id: 666a3f38-d4fa-5b62-a391-a69029758d32
                metadata:
                  createdBy: 8f84cf09-8036-51e4-b579-bd30cb07b269
                  creationTimestamp: '2022-10-06T20:58:16.305662Z'
                  labels: []
                  modificationTimestamp: '2022-10-06T20:58:16.305662Z'
                  modifiedBy: 8f84cf09-8036-51e4-b579-bd30cb07b269
                name: netapp-sales
                resourceType: folder
                tags:
                - internal:bxp:parentId: 777a3f38-d4fa-5b62-a391-a69029758d32
                - internal:bxp:ancestors: 666a3f38-d4fa-5b62-a391-a69029758d32,777a3f38-d4fa-5b62-a391-a69029758d32,48edfd48-3fed-4ffd-9aff-303c7008df7f,
                    999a3f38-d4fa-5b62-a391-a69029758d32
                type: application/vnd.netapp.bxp.resource
                version: '1.0'
      security:
      - BearerAuth: []
      servers: *id002
    patch:
      operationId: tenancyv4_patch_folders_by_folder_id
      summary: Update a folder partially
      tags:
      - tenancyv4
      x-source-file: tenancyv4/patch-folders-.adoc
      description: Updates the specified folder with partial information.
      parameters:
      - name: folder_id
        in: path
        schema:
          type: string
        required: true
        description: ID of the folder.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: 'JSON string containing the description of the resource.
                    Defined values are:'
                id:
                  type: string
                  description: 'Globally unique identifier of the resource. Defined
                    values are:'
                isSystem:
                  type: string
                  description: 'Specifies if an object is system generated. Defined
                    values are:'
                legacyId:
                  type: string
                  description: Unique identifier as understood by the previous version
                    of this service.
                metadata:
                  $ref: '#/components/schemas/tenancyv4.patch-folders-.type_bxp_metadata'
                  description: Metadata associated with the resource.
                name:
                  type: string
                  description: 'JSON string containing a name for the resource. Defined
                    values are:'
                ownerOrganizationId:
                  type: string
                  description: JSON string containing the ID of the organization.
                parentId:
                  type: string
                  description: JSON string containing the ID of the hierarchy.
                rawId:
                  type: string
                  description: JSON string containing the physical ID of the resource.
                    It is the ID as defined by the system (a UUID, a string, or any
                    other defined ID). For example, the UUID of an ONTAP cluster or
                    the UUID of an application in Astra Control.
                resourceClass:
                  type: string
                  description: JSON string containing the resource class. This field
                    is for Accounts (tenancy) compatibility support.
                resourceType:
                  type: string
                  description: JSON string containing the resource type. This should
                    be one of the allowed resource types, which should be in the resource
                    types collection. These resource types are defined by the service
                    applications and the NetApp Console IAM system.
                state:
                  type: string
                  description: 'Represents the state of the resource. State of the
                    resource can be reconciling, which indicates the resource is currently
                    undergoing a reconciliation process or available, which indicates
                    the resources is currently available. Defined values are:'
                tags:
                  type: array
                  items:
                    $ref: '#/components/schemas/tenancyv4.patch-folders-.tags'
                  description: JSON array of tags (name/value pairs) representing
                    metadata for the resource.
                type:
                  type: string
                  description: 'Media type of the resource. Defined values are:'
                version:
                  type: string
                  description: 'Version of the resource. Defined values are:'
              required:
              - type
              - version
            example:
              id: 666a3f38-d4fa-5b62-a391-a69029758d32
              name: netapp-sales
              type: application/vnd.netapp.bxp.resource
              version: '1.0'
      responses:
        '204':
          description: Indicates if the folder was updated.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  correlationId:
                    type: string
                    description: Internal UUID representing the request or trace ID
                      related.
                  detail:
                    type: string
                    description: Details about the problem.
                  invalidParams:
                    type: array
                    items:
                      $ref: '#/components/schemas/tenancyv4.patch-folders-.invalidParams'
                    description: List of invalid parameters.
                  status:
                    type: string
                    description: HTTP error code related to the problem.
                  title:
                    type: string
                    description: Title description of the problem.
                  type:
                    type: string
                    description: Content-type of the object.
                required:
                - status
                - title
                - type
              example:
                detail: The supplied query parameters are invalid.
                status: '400'
                title: Invalid query parameters
                type: https://bluexp.netapp.io/problems/1
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  correlationId:
                    type: string
                    description: Internal UUID representing the request or trace ID
                      related.
                  detail:
                    type: string
                    description: Details about the problem.
                  invalidParams:
                    type: array
                    items:
                      $ref: '#/components/schemas/tenancyv4.patch-folders-.invalidParams'
                    description: List of invalid parameters.
                  status:
                    type: string
                    description: HTTP error code related to the problem.
                  title:
                    type: string
                    description: Title description of the problem.
                  type:
                    type: string
                    description: Content-type of the object.
                required:
                - status
                - title
                - type
              example:
                detail: The request is missing the required bearer token.
                status: '401'
                title: Missing bearer token
                type: https://bluexp.netapp.io/problems/1
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  correlationId:
                    type: string
                    description: Internal UUID representing the request or trace ID
                      related.
                  detail:
                    type: string
                    description: Details about the problem.
                  invalidParams:
                    type: array
                    items:
                      $ref: '#/components/schemas/tenancyv4.patch-folders-.invalidParams'
                    description: List of invalid parameters.
                  status:
                    type: string
                    description: HTTP error code related to the problem.
                  title:
                    type: string
                    description: Title description of the problem.
                  type:
                    type: string
                    description: Content-type of the object.
                required:
                - status
                - title
                - type
              example:
                detail: The requested operation isn't permitted.
                status: '403'
                title: Operation not permitted
                type: https://bluexp.netapp.io/problems/11
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  correlationId:
                    type: string
                    description: Internal UUID representing the request or trace ID
                      related.
                  detail:
                    type: string
                    description: Details about the problem.
                  invalidParams:
                    type: array
                    items:
                      $ref: '#/components/schemas/tenancyv4.patch-folders-.invalidParams'
                    description: List of invalid parameters.
                  status:
                    type: string
                    description: HTTP error code related to the problem.
                  title:
                    type: string
                    description: Title description of the problem.
                  type:
                    type: string
                    description: Content-type of the object.
                required:
                - status
                - title
                - type
              example:
                detail: The collection specified in the request URI wasn't found.
                status: '404'
                title: Collection not found
                type: https://bluexp.netapp.io/problems/2
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  correlationId:
                    type: string
                    description: Internal UUID representing the request or trace ID
                      related.
                  detail:
                    type: string
                    description: Details about the problem.
                  invalidParams:
                    type: array
                    items:
                      $ref: '#/components/schemas/tenancyv4.patch-folders-.invalidParams'
                    description: List of invalid parameters.
                  status:
                    type: string
                    description: HTTP error code related to the problem.
                  title:
                    type: string
                    description: Title description of the problem.
                  type:
                    type: string
                    description: Content-type of the object.
                required:
                - status
                - title
                - type
              example:
                detail: The request body JSON contains a field that conflicts with
                  an idempotent value.
                status: '409'
                title: JSON resource conflict
                type: https://bluexp.netapp.io/problems/10
      security:
      - BearerAuth: []
      servers: *id002
    put:
      operationId: tenancyv4_put_folders_by_folder_id
      summary: Update a folder
      tags:
      - tenancyv4
      x-source-file: tenancyv4/put-folders-.adoc
      description: Replaces the specified folder with new information.
      parameters:
      - name: folder_id
        in: path
        schema:
          type: string
        required: true
        description: ID of the folder.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: 'JSON string containing the description of the resource.
                    Defined values are:'
                id:
                  type: string
                  description: 'Globally unique identifier of the resource. Defined
                    values are:'
                isSystem:
                  type: string
                  description: 'Specifies if an object is system generated. Defined
                    values are:'
                legacyId:
                  type: string
                  description: Unique identifier as understood by the previous version
                    of this service.
                metadata:
                  $ref: '#/components/schemas/tenancyv4.put-folders-.type_bxp_metadata'
                  description: Metadata associated with the resource.
                name:
                  type: string
                  description: 'JSON string containing a name for the resource. Defined
                    values are:'
                ownerOrganizationId:
                  type: string
                  description: JSON string containing the ID of the organization.
                parentId:
                  type: string
                  description: JSON string containing the ID of the hierarchy.
                rawId:
                  type: string
                  description: JSON string containing the physical ID of the resource.
                    It is the ID as defined by the system (a UUID, a string, or any
                    other defined ID). For example, the UUID of an ONTAP cluster or
                    the UUID of an application in Astra Control.
                resourceClass:
                  type: string
                  description: JSON string containing the resource class. This field
                    is for Accounts (tenancy) compatibility support.
                resourceType:
                  type: string
                  description: JSON string containing the resource type. This should
                    be one of the allowed resource types, which should be in the resource
                    types collection. These resource types are defined by the service
                    applications and the NetApp Console IAM system.
                state:
                  type: string
                  description: 'Represents the state of the resource. State of the
                    resource can be reconciling, which indicates the resource is currently
                    undergoing a reconciliation process or available, which indicates
                    the resources is currently available. Defined values are:'
                tags:
                  type: array
                  items:
                    $ref: '#/components/schemas/tenancyv4.put-folders-.tags'
                  description: JSON array of tags (name/value pairs) representing
                    metadata for the resource.
                type:
                  type: string
                  description: 'Media type of the resource. Defined values are:'
                version:
                  type: string
                  description: 'Version of the resource. Defined values are:'
              required:
              - name
              - resourceClass
              - resourceType
              - type
              - version
            example:
              id: 666a3f38-d4fa-5b62-a391-a69029758d32
              name: netapp-sales
              resourceType: folder
              tags:
              - internal:bxp:parentId: 777a3f38-d4fa-5b62-a391-a69029758d32
              - internal:bxp:ancestors: 666a3f38-d4fa-5b62-a391-a69029758d32,777a3f38-d4fa-5b62-a391-a69029758d32,48edfd48-3fed-4ffd-9aff-303c7008df7f,
                  999a3f38-d4fa-5b62-a391-a69029758d32
              type: application/vnd.netapp.bxp.resource
              version: '1.0'
      responses:
        '204':
          description: Indicates if the folder was updated.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  correlationId:
                    type: string
                    description: Internal UUID representing the request or trace ID
                      related.
                  detail:
                    type: string
                    description: Details about the problem.
                  invalidParams:
                    type: array
                    items:
                      $ref: '#/components/schemas/tenancyv4.put-folders-.invalidParams'
                    description: List of invalid parameters.
                  status:
                    type: string
                    description: HTTP error code related to the problem.
                  title:
                    type: string
                    description: Title description of the problem.
                  type:
                    type: string
                    description: Content-type of the object.
                required:
                - status
                - title
                - type
              example:
                detail: The supplied query parameters are invalid.
                status: '400'
                title: Invalid query parameters
                type: https://bluexp.netapp.io/problems/1
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  correlationId:
                    type: string
                    description: Internal UUID representing the request or trace ID
                      related.
                  detail:
                    type: string
                    description: Details about the problem.
                  invalidParams:
                    type: array
                    items:
                      $ref: '#/components/schemas/tenancyv4.put-folders-.invalidParams'
                    description: List of invalid parameters.
                  status:
                    type: string
                    description: HTTP error code related to the problem.
                  title:
                    type: string
                    description: Title description of the problem.
                  type:
                    type: string
                    description: Content-type of the object.
                required:
                - status
                - title
                - type
              example:
                detail: The request is missing the required bearer token.
                status: '401'
                title: Missing bearer token
                type: https://bluexp.netapp.io/problems/1
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  correlationId:
                    type: string
                    description: Internal UUID representing the request or trace ID
                      related.
                  detail:
                    type: string
                    description: Details about the problem.
                  invalidParams:
                    type: array
                    items:
                      $ref: '#/components/schemas/tenancyv4.put-folders-.invalidParams'
                    description: List of invalid parameters.
                  status:
                    type: string
                    description: HTTP error code related to the problem.
                  title:
                    type: string
                    description: Title description of the problem.
                  type:
                    type: string
                    description: Content-type of the object.
                required:
                - status
                - title
                - type
              example:
                detail: The requested operation isn't permitted.
                status: '403'
                title: Operation not permitted
                type: https://bluexp.netapp.io/problems/11
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  correlationId:
                    type: string
                    description: Internal UUID representing the request or trace ID
                      related.
                  detail:
                    type: string
                    description: Details about the problem.
                  invalidParams:
                    type: array
                    items:
                      $ref: '#/components/schemas/tenancyv4.put-folders-.invalidParams'
                    description: List of invalid parameters.
                  status:
                    type: string
                    description: HTTP error code related to the problem.
                  title:
                    type: string
                    description: Title description of the problem.
                  type:
                    type: string
                    description: Content-type of the object.
                required:
                - status
                - title
                - type
              example:
                detail: The collection specified in the request URI wasn't found.
                status: '404'
                title: Collection not found
                type: https://bluexp.netapp.io/problems/2
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  correlationId:
                    type: string
                    description: Internal UUID representing the request or trace ID
                      related.
                  detail:
[...]
